<p>
  <b>Report:</b>
  <%=h @searchengine_log.report_id %>
</p>

<p>
  <b>Searchengine:</b>
  <%=h @searchengine_log.searchengine_id %>
</p>

<p>
  <b>Keyword:</b>
  <%=h @searchengine_log.keyword_id %>
</p>

<p>
  <b>Ranking:</b>
  <%=h @searchengine_log.ranking %>
</p>

<p>
  <b>Indexed page:</b>
  <%=h @searchengine_log.indexed_page %>
</p>

<p>
  <b>Contents:</b>
  <% if @searchengine_log.contents.nil? %>
  No archived result
  <% else %>
  <%= link_to 'View archived search result', searchengine_logs_contents_path(@searchengine_log) %>
  <% end %>
</p>


<%= link_to 'Edit', edit_searchengine_log_path(@searchengine_log) %> |
<%= link_to 'Back', searchengine_logs_path %>

