= f.error_messages
%p
  = f.label :keyword
  %br
  = f.text_field :keyword
%p
  = f.label :langcode
  %br
  = f.text_field :langcode
%p
  = f.label :is_active
  %br
  = f.text_field :is_active
%p
  = f.label :priority
  %br
  = f.text_field :priority

