<h1>Editing keyword</h1>

<% form_for(@keyword) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :keyword %><br />
    <%= f.text_field :keyword %>
  </p>
  <p>
    <%= f.label :langcode %><br />
    <%= f.text_field :langcode %>
  </p>
  <p>
    <%= f.label :is_active %><br />
    <%= f.text_field :is_active %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @keyword %> |
<%= link_to 'Back', keywords_path %>