<h1>Listing keywords</h1>

<table>
  <tr>
    <th>Keyword</th>
    <th>Langcode</th>
    <th>Is active</th>
    <th>Priority</th>
    <th>Rank</th>
  </tr>
<% @keywords.each do |keyword| %>
<% rank = keyword.searchengine_logs.find(:first, :order => "created_at") %>
  <tr>
    <td><%=h keyword.keyword %></td>
    <td><%=h keyword.langcode %></td>
    <td><%=h keyword.is_active %></td>
    <td><%=h keyword.priority %></td>
    <td><%=h rank.ranking %> (<%=h rank.created_at %>)</td>
    <td><%= link_to 'Show', keyword %></td>
    <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
    <td><%= link_to 'Destroy', keyword, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New keyword', new_site_keyword_path(@site) %>

