<p>
  <b>Keyword:</b>
  <%=h @keyword.keyword %>
</p>

<p>
  <b>Langcode:</b>
  <%=h @keyword.langcode %>
</p>

<p>
  <b>Is active:</b>
  <%=h @keyword.is_active %>
</p>

<p>
  <b>Priority:</b>
  <%=h @keyword.priority %>
</p>


<p>
  <b>External tools:</b>
  <ul>
  <li><a href="<%= @google_analytics_link %>">Google Analytics</a></li>
  </ul>
</p>

<%= link_to 'Edit', edit_site_keyword_path(@site, @keyword) %> |
<%= link_to 'Back', site_keywords_path(@site) %>

<hr>
<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<%= @graph %>

<hr>
<h2>History</h2>
<ul>
<% for log in @keyword.searchengine_logs.find(:all, :order => 'searchengine_id') %>
  <li><%= link_to "#{log.ranking} #{log.searchengine} #{log.report&&log.report.created_at}", log %></li>
<% end %>
</ul>
