<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Websites: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'default' %>
</head>
<body>
<div id="doc3" class="yui-t7"> 
   <div id="hd"><h1>rSERA</h1>
  <ul>
<li><%= link_to "Websites", root_path %></li>
<li><%= link_to "Searchengines", searchengines_path %></li>
</ul>
   <p style="color: green"><%= flash[:notice] %></p>
   <div id="bd" role="main"> 
    <div class="yui-g"> 
    <!-- YOUR DATA GOES HERE --> 
<%= yield %>
    </div> 
 
    </div> 
   <div id="ft"><p>Footer</p></div> 
</div> 
</body>
</html>

